@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Имеются цеха (название, фирма-изготовитель), детали (название, фир-ма-изготовитель), модификации деталей (название, трудоемкость) и станки (название, время обработки). Детали имеют модификации и изготавливаются на станках, расположенных в различных цехах</p>
