@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Задания</p>

</div>

<div class="row">
   
    <div class="col-md-4">
        <h2>Первый запрос</h2>
        <p>•	выдать список модификаций деталей цехов с минимальной трудо-емкостью, упорядоченный по названиям деталей</p>
      
    </div>
    <div class="col-md-4">
        <h2>Второй запрос</h2>
        <p>•	выдать список деталей указанного цеха, упорядоченный по вре-мени обработки детали, обрабатываемых на станках с названием на определенную букву</p>
    
    </div>
</div>